/* @import './normalize.css'; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #235789;
  --color-secondary: #327dc3;
  --color-accent: #e39229;
  --color-bg: #e6e8fa;
  --color-bg--secondary: #fafafa;
  --padding-vertical: 5rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background-color: var(--color-bg);
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/* ----- Utility ----- */

.debug {
  border: 2px solid red;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

/* ----- Header ----- */

/* CTA */

.cta-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.cta-header > span {
  cursor: default;
}

.cta-header svg {
  height: 30px;
  width: 30px;
  fill: var(--color-primary);
}

.cta-header svg:hover {
  transform: scale(1.1);
}

.cta-header a {
  display: flex;
}

@media screen and (max-width: 420px) {
  .cta-header {
    font-size: 1.4rem;
  }

  .cta-header svg {
    height: 25px;
    width: 25px;
  }
}

/* NAV */

.nav {
  background-color: var(--color-primary);
  padding-right: 2rem;
  padding-left: 6rem;
  padding-block: 1rem;
  display: flex;
}

.menu {
  margin-left: auto;
}

.menu-close {
  margin-left: auto;
}

@media screen and (min-width: 769px) {
  .menu {
    display: none;
  }

  .menu-close {
    display: none;
  }
}

.nav__list {
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.nav__list-item {
  list-style-type: none;
}

.nav__list-item a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1ch;
  opacity: 0.8;
}

.nav__list-item a:hover {
  opacity: 1;
  border-bottom: 1px solid #fff;
}

.nav__list-item:last-child {
  background-color: var(--color-secondary);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 5px;
}

.nav__list-item:last-child a {
  font-style: italic;
  opacity: 1;
}

.nav__list-item:last-child:hover {
  transform: scale(1.07);
}

.nav__list-item:last-child a:hover {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .nav__list {
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .nav__list-item a {
    font-size: 1.6rem;
  }
}

/* BANNER */

.banner {
  background: url('../assets/banner2.jpg');
  height: 60vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  position: relative;
  font-size: 10rem;
  color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem;
  margin-right: 3rem;
}

.banner h1::after {
  content: 'Gebäudereinigung';
  position: absolute;
  font-family: 'Hurricane';
  font-size: 8rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--color-accent);
  left: 39%;
  top: calc(25% + 1.5rem);
}

.banner h1 span {
  color: var(--color-secondary);
}

@media screen and (max-width: 1024px) {
  .banner {
    height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 40vh;
  }

  .banner h1 {
    font-size: 8rem;
  }

  .banner h1::after {
    font-size: 6rem;
  }
}

@media screen and (max-width: 540px) {
  .banner {
    height: 30vh;
  }

  .banner h1 {
    font-size: 6rem;
  }

  .banner h1::after {
    font-size: 4rem;
  }
}

@media screen and (max-width: 420px) {
  .banner h1 {
    font-size: 4rem;
  }

  .banner h1::after {
    left: 30%;
  }
}
